<div class="wrap-container">
  <h4>То что я сейчас делаю:</h4>
  <!-- <div style="padding-top:125.326%;position:relative;">
    <iframe
      src="https://gifer.com/embed/XOsX"
      width="100%"
      height="100%"
      style="position:absolute;top:0;left:0;"
      frameBorder="0"
      allowFullScreen
    ></iframe>
  </div> -->
  <ul>
    <li>
      <a href="https://metanit.com/web/angular2/6.1.php" target="blanck"
        >HttpClient и отправка запросов</a
      >
    </li>
    <li>
      <a href="https://metanit.com/web/angular2/1.1.php" target="blanck"
        >Введение в Angular</a
      >
    </li>
    <li>
      <a
        href="https://www.youtube.com/watch?v=-6DWwR_R4Xk&t=1829s"
        target="blanck"
        >ООП</a
      >
    </li>
    <li>
      <a href="https://youtu.be/WXcg4R-pmkA" target="blanck"
        >Перетяжка потолка</a
      >
    </li>
  </ul>
  <div style="padding-top:56.296%;position:relative;">
    <iframe
      src="https://gifer.com/embed/8B7"
      width="100%"
      height="100%"
      style="position:absolute;top:0;left:0;"
      frameBorder="0"
      allowFullScreen
    ></iframe>
  </div>
  <br />
  <br />
</div>
